body{
    background-color: palevioletred;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex: 1;
}

/* navbar */

.navbar{
    height: 5rem;
    background-color: rgb(171, 205, 205);
    display: flex;
}

.fa-compass{
    color: red;
    font-size: 2rem;
}

.nav-link{
    color: black !important;
}

/* footer */
.f-info-links a{
    color: #222222;
    text-decoration: none;
}

.f-info-links a:hover{
    color: brown;
    text-decoration: underline;
}

.f-info-links,.f-info-socials,.f-info-brand{
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: space-evenly;
}

.f-info-socials i{
    font-size: 1.2rem;
    margin-right: 1rem;
}


.f-info{
    text-align: center;
    display: flex;
    height: 8rem;
    background-color: #ebebeb;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-evenly;
}

/* /* CARDS */
.card-listing{
border: none !important;
margin-bottom: 1rem;
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body{
    padding: 0 !important;
}

.card-text{
    font-weight: 400 !important;
}

.listing-link{
    text-decoration: none;
}

.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    opacity: 0.2;
    background-color: #ebebeb;
}

/* new listings */
.add-btn{
    background-color: red !important;
    border: none !important;
}

/* edit listings */
.edit-btn{
    background-color: red !important;
    border: none !important;
}

.tax-info{
    display: none;
}

/* SHOW PAGE */
.show-img{
    height: 30vh;
}

.btns{
    display: flex;
}

.show-card{
    padding-left: 0;
    padding-right: 0;

}